
.btn {
    background-color: dodgerblue;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #FFFFFF;
    display: inline-block;
    margin: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
}
.ripple {
	outline: 0;
	overflow: hidden;
	position: relative;
    cursor: normal;
}
.ripple .ripple-effect {
	border-radius: 50%;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	transform: scale(0);
	animation: ripple .6s linear;
}
@keyframes ripple{
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}
